*,

*::before,
*::after{
	margin: 0;
	padding: 0;
		
}

html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Light', sans-serif;
	scroll-behavior: smooth;
}

a{
	display: block;
	text-decoration: none;    
	
}

.container{
	max-width: auto;
	margin: 0 auto;
	padding: 0 2.2rem;
		
}

h3{
	font-family: "Roboto Thin", sans-serif;
	font-weight: 100;
	
}

p{
	font-size: 18px;
	
}

/*---------------- Header ---------------- */

header{
	position: fixed;
	top: 0;
	z-index: 1400;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #CECED2;

}

.nav-list{
	list-style: none;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding-left: 400px;
	padding-right: 400px;

}

.nav-list-mobile{
	display: none;
	
	
}

.nav-link{
	font-size: 22px;
	color: #333333;
	padding: 14px 0;
	
}	

.nav-link:hover{

	
}

/*---------------- Macbook---------------- */

.Macbook{
	width: 100%;
	height: 600px;
	background-color: #F9F9F9;
	background-repeat: no-repeat;
	margin-top: 4.4rem;
	background-position: center;
	align-content: center;
	
}

.title{
	color: #333333;
	text-align: center;
	padding-top: 70px;
}

.title-heading{
	font-size: 60px;
	line-height: 70px;
	letter-spacing: normal;

}

.title-sub-heading{
	color: #757575;
	font-size: 30px;
	font-family: 'Roboto Thin', sans-serif;
	line-height 40px;
	
}

.title-link{
	text-align: center;
	color: #007AFF;
	font-size: 16px;
	line-height: 48px;
	
}

.title-note{
	color: #FF9500;
	font-size: 16px;
	
}

.hero{
	text-align: center;

}

/* Row 2 */

.Surface{
	background-image: url("Assets/Image 1.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 550px;
}

.Swift{
	background-color: #F9F9F9;
	width: 100%;
	height: 550px;
}

.image{
	text-align: center;
	
}

/* column and row */

.column {
    float: left;
    width: 50%;
	padding-top: 10px;

	
}

.row:after {
    content: "";
    display: table;
    clear: both;
	background-color: white;
}

/* Row 3 */

.XPS{
	background-color: #F9F9F9;

}

.Zenbook{
	background-color: #F9F9F9;

}

.footnote{
	text-align: left;
	color: #757575;
	font-size: 12px;
	font-family: 'Roboto Thin', sans-serif;
	padding: 30px 400px;
	
}
	
	
	
	
	
	

.list-button {
	border: 2px solid #CECED2;
	padding: 20px;
	font-size: 20px;
	margin: 20px 0px;
	border-radius: 8px;
	
}

.list-button:hover {
	border: 2px solid #007AFF;
	background-color: #007AFF1A;
	color: #007AFF;
}


.top {
	padding: 100px 0px 50px 170px;
}

.details {
	line-height: 45px;
}

.title-macbook {
	padding:0px 0px 20px 0px;
}

.button {
	
}

button {
	padding: 15px;
	font-size: 16px;
	margin: 20px 0px;
	border-radius: 8px;
	background-color: #007AFF;
	border: 0px solid white;
	color: white;
	
}

.back {
	color: #007AFF;
	
}

.title-purchase {
	font-size: 20px;
	align-content: center;
	text-align: center;
	padding-top: 350px;
}

.sub-title-purchase {
	font-size: 16px;
	text-align: center;
	color: #757575;
	font-family: "Roboto Light", sans-serif;
	padding-top: 20px;
	padding-bottom: 35px;
}
